<div class="row clearfix">
    <div class="jumbotron">
        <h2>
            NewBis 1.0 更新记录（Insider）
        </h2>
        <p>
            Version 1.0 20160922 优化：安全性增强<br/>
            Version 1.0 20160920 功能：ico添加，首页添加<br/>
            Version 1.0 20160920 功能：footer添加<br/>
            Version 1.0 20160919 功能：图表数据异步绘制完成<br/>
            Version 1.0 20160918 功能：搜索自动补全<br/>
            Version 1.0 20160912 功能：添加获取数据失败提示<br/>
            Version 1.0 20160912 优化：修复搜索框不能带空格的BUG<br/>
            Version 1.0 20160911 优化：安全性加强<br/>
            Version 1.0 20160911 功能：添加登录界面,<br/>
            Version 1.0 20160909 功能：添加认证模块<br/>
            Version 0.9 20160907 优化：网页优化，性能大幅提升<br/>
            Version 0.9 20160904 功能：主机列表自动生成<br/>
            Version 0.8 20160904 优化：404页面重做<br/>
            Version 0.8 20160904 功能：添加搜索功能<br/>
            Version 0.7 20160904 优化：修复IE浏览器奔溃BUG<br/>
            Version 0.7 20160904 功能：界面UI<br/>
            Version 0.6 20160903 功能：图表断点显示功能<br/>
            Version 0.5 20160831 功能：404页面<br/>
            Version 0.5 20160829 功能：highchart的rangeSelector功能（待测试）<br/>
            Version 0.5 20160829 优化：修复SQL注入，url注入<br/>
        </p>
        <p>
             <a class="btn btn-primary btn-large" href="#">View more »</a>
        </p>
    </div>
</div>