<link href="/static/css/toastr.min.css" rel="stylesheet" />
<script src="/static/js/toastr.min.js"></script>
<script type="text/javascript">
        toastr.options.positionClass = 'toast-top-center';
 </script>
<script>
    $(function () {
        $.ajaxSetup({
            error:function(x,e){
                toastr.warning('获取数据失败');
                return false;
            }
        })
        var databefore;
        var dataafter;
        var time = 0;
        var hostreg = new RegExp("[^//]+$");
        //host = hostreg.exec(window.location.pathname)[0]
        
        function datahelper(data){
            if (data.length == 0){
                var arr = [];
                return arr;
            }else if (data.length == 1){
                var arr = [];
                dataafter = data[0][0];
                while ((dataafter - databefore) > 300000){
                    databefore += 300000;
                    arr.push([databefore,null]);
                }
                databefore = dataafter;
                arr.push(data[0]);
                return arr;
            }else{
                var dlength = data.length;
                var arr = [];
                for (var j = 0; j < dlength; j++){
                    dataafter = data[j][0];
                    while ((dataafter - databefore) > 300000){
                        databefore += 300000;
                        arr.push([databefore,null]);
                    }
                    databefore = dataafter;
                    arr.push(data[j]);
                }
                return arr;
            }
        };
        
        function autotitle(){
            if (host.toLowerCase() == 'total'){
                text = '在线总人数'
                return text
            }else{
                text = host.replace(/^\S/,function(s){return s.toUpperCase();}) + '在线人数'
                text = text.replace(/\b(\w)(\w*)/g, function($0,$1,$2){return $1.toUpperCase() + $2.toLowerCase();});
                return text
            }
        };
        
        // 使用当前时区，否则东八区会差八个小时
        Highcharts.setOptions({
            global: {
                useUTC: false
            },
            lang:{
                contextButtonTitle:"图表导出菜单",
                decimalPoint:".",
                downloadJPEG:"下载JPEG图片",
                downloadPDF:"下载PDF文件",
                downloadPNG:"下载PNG文件",
                downloadSVG:"下载SVG文件",
                drillUpText:"返回 {series.name}",
                loading:"加载中......",
                months:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
                noData:"没有数据",
                numericSymbols: [ "千" , "兆" , "G" , "T" , "P" , "E"],
                printChart:"打印图表",
                resetZoom:"恢复缩放",
                resetZoomTitle:"恢复图表",
                shortMonths: [ "一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
                thousandsSep:",",
                weekdays: ["星期一", "星期二", "星期三", "星期三", "星期四", "星期五", "星期六","星期天"]
            }
        });
        
        $('#container').highcharts('StockChart', {
            rangeSelector : {
                // 是否允许input标签选框
                inputEnabled: true,
                allButtonsEnabled: true,
                // 缩放选择按钮，是一个数组。  
                // 其中type可以是： 'millisecond', 'second', 'minute', 'day', 'week', 'month', 'ytd' (year to date), 'year' 和 'all'。  
                // 其中count是指多少个单位type。  
                // 其中text是配置显示在按钮上的文字  
                buttons: [{  
                        type: 'minute',  
                        count: 720,  
                        text: '最近'  
                    }, {  
                        type: 'day',  
                        count: 1,  
                        text: '1天'  
                    }, {  
                        type: 'week',  
                        count: 1,  
                        text: '1周'  
                    }, {  
                        type: 'month',  
                        count: 1,  
                        text: '1月'  
                    },{  
                        type: 'year',  
                        count: 1,  
                        text: '1年'  
                    }, {  
                        type: 'all',  
                        text: '所有'  
                    }],  
                // 默认选择域：0（缩放按钮中的第一个）、1（缩放按钮中的第二个）……  
                selected: 1,  
            },  
            
            title : {
                text : autotitle(),
            },
            
            xAxis:{
                type: 'datetime',
                //tickInterval: 300 * 1000,
                dateTimeLabelFormats: {
                minute: '%Y-%m-%d<br/>%H:%M',
                hour: '%Y-%m-%d<br/>%H:%M',
                day: '%Y<br/>%m-%d',
                week: '%Y<br/>%m-%d',
                month: '%Y-%m',
                //year: '%Y'
                },
                //tickInterval:1000*60*5,
            },
            
            yAxis: {
                type: 'linear'
            },
            
            series : [{
                name : '人数',
                data : [],
                tooltip: {
                    valueDecimals: 0
                },
            dataLabels: {
                enabled: true,
                align: 'left',
                style: {
                    fontWeight: 'bold'
                    }
                },
            }],
            
            credits:{
                enabled : false
            }
        });
        
        var chart = $('#container').highcharts();
        chart.showLoading();
        
        $.getJSON('/enzfdata', {time:time,host:host},function (data) {
            var series = chart.series[0];
            if (data != null) {
                time = data[data.length-1][0],
                databefore = time - 300000,
                series.setData(datahelper(data)),
                chart.hideLoading();
            }else{
            toastr.warning('获取数据失败');
            };
            setInterval(function(){
                $.getJSON('/enzfdata',{time:time,host:host},function(res){
                    if (res != null){
                    res = datahelper(res)
                        $.each(res,function(i,v){
                            time = v[0]
                            series.addPoint(v)
                        });
                    }else{
                    toastr.warning('获取数据失败');
                    }
                })
            },3000);
        });

    });
</script>
<div class="row clearfix">
    <div class="col-md-12 column">
        <div id="container" style="height: 400px; min-width: 310px"></div>
    </div>
</div>